@jsr:registry=https://npm.jsr.io

# figma-managed npm registry config start
//registry.figma.com/npm/f284e2ce-f79a-4711-b88c-06291273d77f/registry/:_authToken=figi_DEIamEGDXOzKK8mzH23kDvKfvVrHfrceKfxMaggM
@bounteous:registry=https://registry.figma.com/npm/f284e2ce-f79a-4711-b88c-06291273d77f/registry/
@make-kits:registry=https://registry.figma.com/npm/f284e2ce-f79a-4711-b88c-06291273d77f/registry/
registry=https://registry.npmjs.org/
# figma-managed npm registry config end
